.body-code{
    background-color: antiquewhite;
}

.text-content h1 {
    font-size: 2.5em; 
    margin-bottom: 10px; 
    color: #2c3e50; 
}

.text-content{
    margin-left: 20px;
}

.text-content h2 {
    font-size: 1.8em; 
    margin-bottom: 10px;
    color: #34495e;
}

.text-content h3 {
    font-size: 1.2em; 
    margin-bottom: 25px; 
    color: #555;
    margin-left: 20px;
    margin-right: 25px;
}

.img1 {
    width: 30%;
    height: auto;
    margin-left: 20px; /* Adjust spacing between text and image */
    border-radius: 8px; /* Add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for aesthetics */
}